.all_product{
    display: flex;
    align-items: flex-start;
    padding: 50px 100px;
}
.category_div{
    padding: 10px 14px;
    border:  1px solid grey;
    cursor: pointer;
    border-radius: 6px;
    margin-bottom: 10px;
}